/* Google Font */

html, body {
    background-color: mintcream;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: rgb(60, 155, 250);
    padding: 1rem;
    border: 1px rgb(0, 113, 251) solid;
    border-radius: 30px;
    color: white;
}
.container {
    display: grid;
    gap: 3rem;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 3rem;
}

.card-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px darkgray solid;
    border-radius: 12px;
    padding: 1rem;
    background-color:white;
    flex-basis: 150px;
    height: 250px;
    word-break: break-word;
    overflow: auto;
    
}

.card::-webkit-scrollbar {
    display: none;
}

.add-book-dialog {
    border: solid black 2px;
    border-radius: 10px;
}

.form-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 1rem;
    align-items: center;
}

.form-section input {
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 7px;
}

.form-section input[type="checkbox"] {
    justify-self: start;
    width: 1.5rem;
    height: 1.5rem;
}

/* Reset fieldset styling */
fieldset {
    border: none;        /* Remove the border */
    padding: 0;          /* Remove the padding */
    margin: 0;           /* Remove margin if needed */
    background: transparent;  /* Make background transparent */
  }
  
  /* Reset legend styling */
  legend {
    display: block;  /* Ensures legend acts as a block-level element */
    font-size: inherit;  /* Inherit font size */
    font-weight: normal; /* Remove bold */
    margin: 0;           /* Remove margin */
    padding: 0;          /* Remove padding */
  }